@charset "utf-8";
/* CSS Document */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
.priority-options {
  display: flex;
  align-items: center;
}

.priority-options label {
  margin-right: 10px;
}

.priority-options input[type="radio"] {
  margin-right: 5px;
}
.user-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-options label {
    margin-right: 10px;
}

.user-options input[type="radio"] {
    margin-right: 5px;
}
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button[type="submit"] {
    width: 100%;
}

